<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">

    <label lang="en">Extend article listing</label>
    <label lang="de">Erweiterung Artikellisting</label>
    <version>1.0.0</version>
    <link>http://www.kevin-schmid.de</link>
    <author>Kevin Schmid</author>

    <changelog version="1.0.0">
        <changes lang="de">Initiale Veröffentlich</changes>
        <changes lang="en">Initial release</changes>
    </changelog>

    <description lang="de">
        Dieses Plugin erweitert das komplette Artikellisting um die Funktion auf einzelne Artikeleigenschaften im Frontend zuzugreifen. <br/>
        Standardmäßig ist es nicht möglich auf die erweiterten Filtereigenschaften eines Artikels in den Listings zuzugreifen. Diese stehen einem erst auf
        der Detailseite zur Verfügung. <br/>
        Hinweis zum Aufruf und Nutzung des Plugins finden Sie im <a href="README.md">README.md File</a>
    </description>
    <description lang="en">
        English description
    </description>
    <compatibility minVersion="5.2.0" />
</plugin>
